# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
.env/

# macOS
.DS_Store

# Node/React (in case you add frontend later)
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/
